* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* Adding a colour palette for easier styling later on */
    --timberwolf: #d8d8d8ff;
    --walnut-brown: #525044ff;
    --eerie-black: #222324ff;
    --white: #fefefeff;
    --black-olive: #3b3a35ff;

    --background-color: var(--eerie-black);
    --text-color: var(--timberwolf);
    --accent-color: var(--walnut-brown);
    --button: var(--white);
}

.navbar {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    /* position: fixed; */
}

.navbar .navigation {
    display: flex;
    flex-direction: row;
}

.navbar .navigation li {
    list-style: none;
}

.navbar .navigation a {
    text-decoration: none;
    color: var(--text-color);
    margin-right: 25px;
    font-size: 1.5em;
    font-weight: bold;
    
}

.navbar .navigation a:hover {
    color: gold;
}

.navbar .menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 40px;
    color: var(--text-color);
}

.hero {
    background: linear-gradient(rgba(34, 35, 36, 1.2), rgba(34, 35, 36, 0.3)), url(images/Piano.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;    
}

.hero .hero-content h1 {
    color: var(--text-color);
    font-size: 5.5em;
}

.hero .hero-content p {
    color: var(--text-color);
    font-size: 1.5em;
    margin-top: 20px;
}

.btn {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--button);
    display: inline-block;
    margin-top: 65px;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--background-color);
    border-radius: 30px;
    /* Transition adds a nice effect to the button when the btn:hover is activated */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: var(--accent-color);
    color: var(--button);
}

.welcome-content {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    width: 100%;
    padding: 50px;
    background: linear-gradient(to bottom, var(--background-color) 0%, white 60%);
}

.welcome-content .welcome-column1 {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.welcome-content .welcome-column2 {
    width: 52%;
    }

.welcome-column2 .imgbox {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-column2 .imgbox img {
    object-fit: cover;
    height: 500px;
    border-radius: 20px;
}

.welcome .welcome-content .welcome-column1 h1 {
    font-size: 3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome .welcome-content .welcome-column1 p {
    font-style: italic;
    font-size: 1.5em;
    margin-top: 10px;
}

.welcome .welcome-content .welcome-column1 h2 {
    margin-top: 25px;
}

.highlights {
    display: flex;
    flex-direction: column;
}

.highlights .highlights-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}