* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}

:root {
    /* Adding a colour palette for easier styling later on */
    --timberwolf: #d8d8d8ff;
    --walnut-brown: #525044ff;
    --eerie-black: #222324ff;
    --white: #fefefeff;
    --black-olive: #3b3a35ff;

    --background-color: var(--eerie-black);
    --text-color: var(--timberwolf);
    --accent-color: var(--walnut-brown);
    --button: var(--white);
}

/* Navbar section across all pages */

.navbar {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    position: fixed;
}

.navbar .navigation {
    display: flex;
    flex-direction: row;
}

.navbar .navigation li {
    list-style: none;
}

.navbar .navigation a {
    text-decoration: none;
    color: var(--text-color);
    margin-right: 25px;
    font-size: 1.5em;
    font-weight: bold;
    
}

.navbar .navigation a:hover {
    color: gold;
}

.navbar .menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 40px;
    color: var(--text-color);
}

/* Home page styling */

.hero {
    background: linear-gradient(rgba(34, 35, 36, 1), rgba(34, 35, 36, 0.3)), url(images/Piano.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;    
}

.hero .hero-content h1 {
    color: var(--text-color);
    font-size: 5.5em;
}

.hero .hero-content p {
    color: var(--text-color);
    font-size: 1.5em;
    margin-top: 20px;
}

.btn {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--button);
    display: inline-block;
    margin-top: 65px;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--background-color);
    border-radius: 30px;
    /* Transition adds a nice effect to the button when the btn:hover is activated */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: var(--accent-color);
    color: var(--button);
}

.welcome-content {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    width: 100%;
    padding: 100px 10%;
    background: linear-gradient(to bottom, var(--background-color) 0%, white 60%);
}

.welcome-content .welcome-column1 {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.welcome-content .welcome-column2 {
    width: 52%;
    }

.welcome-column2 .imgbox {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-column2 .imgbox img {
    object-fit: cover;
    height: 500px;
    border-radius: 20px;
}

.welcome .welcome-content .welcome-column1 h1 {
    font-size: 3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome .welcome-content .welcome-column1 p {
    font-style: italic;
    font-size: 1.5em;
    margin-top: 10px;
}

.welcome .welcome-content .welcome-column1 h2 {
    margin-top: 25px;
}

.highlights {
    display: flex;
    flex-direction: column;
    padding: 100px 10%;
}

.highlights .highlights-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlights .highlights-title h3 {
    font-size: 2.5em;
}

.highlights .highlights-title p {
    font-style: italic;
    font-size: 20px;
    margin-top: 15px;
}

.event-cards {
    display: flex;
    flex-direction: row;
    gap: 45px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.event-cards .event-card {
    width: 340px;
    border: solid 20px white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    perspective: 1000px;
    position: relative;
}

.event-cards .event-card .imagebox {
    height: 350px;
    width: 100%;
}

.event-cards .event-card .imagebox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-cards .event-card .card-content {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.CTA {
    padding: 60px;
    background: linear-gradient(rgba(34, 35, 36, 0.1), rgba(34, 35, 36, 0.8)), url(images/ManWithDrink.png);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-content h3 {
    font-size: 3.5em;
    color: var(--white);
}

.CTA .cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CTA .cta-content .btn2 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 50px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: var(--button);
    color: var(--background-color);
    border-radius: 30px;
    /* Transition adds a nice effect to the button when the btn:hover is activated */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.CTA .cta-content .btn2:hover {
    background-color: var(--accent-color);
    color: var(--button)
}

/* About page styling */

.story {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 50px 10%;
    background: linear-gradient(to bottom, var(--timberwolf) 0%, white 100%);
    min-height: 100vh;
}

.story .story-image img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.story .story-text {
    flex: 1;
    font-size: 1.2em;
    line-height: 1.8;
    text-align: justify;
}

.story .story-text h2 {
    font-size: 3em;
    margin-bottom: 25px;
}

.team {
    padding: 50px 10%;
    background-color: var(--white);
    color: var(--background-color);
}

.team h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 70px;
}

.team .team-member {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
    margin-bottom: 50px;
}

.team .team-member-reverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    gap: 60px;
}

.member-text {
    flex: 1;
    text-align: justify;
}

.member-text h3 {
    font-size: 2em;
    margin-bottom: 15px;
}

.member-text .role {
    font-style: italic;
    margin-bottom: 15px;
}

.member-text p {
    line-height: 1.7;
    font-size: 1.1em;
}

.member-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.member-image img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15)
}

.gallery {
    padding: 100px 10%;
    text-align: center;
}

.gallery h2 {
    font-size: 3em;
}

.gallery-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.gallery-item:hover img {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.gallery-item .caption {
    font-size: 0.9em;
    margin-top: 10px;
    font-style: italic;
    color: var(--background-color);
}

/* Events page styling */




/* Footer Section Across Pages */

.footer {
    background-color: var(--background-color);
    color: var(--timberwolf);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}